@{
    ViewData["Title"] = "Accueil Utilisateur";
}

<h1>Bienvenue sur la page d'accueil de l'utilisateur (UserController)</h1>
@if (Context.Session.GetString("user") != null)
{
    <a asp-controller="User" asp-action="Logout">Déconnexion</a>
}
